*
!*/
!/[Pp]ackages/Live2D/**/*
/[Pp]ackages/Live2D/Plugins/**/*.a
/[Pp]ackages/Live2D/Plugins/**/*.bc
/[Pp]ackages/Live2D/Plugins/**/*.dll
/[Pp]ackages/Live2D/Plugins/**/*.so
/[Pp]ackages/Live2D/Plugins/**/*.bundle
!/.gitattributes
!/.editorconfig
!/.gitignore
!/*.md
