*
!*/
!/[Aa]ssets/[Ss]cripts/**/*
!/[Pp]ackages/com.live2d.cubism/**/*
/[Pp]ackages/com.live2d.cubism/Plugins/**/*.a
/[Pp]ackages/com.live2d.cubism/Plugins/**/*.bc
/[Pp]ackages/com.live2d.cubism/Plugins/**/*.dll
/[Pp]ackages/com.live2d.cubism/Plugins/**/*.so
/[Pp]ackages/com.live2d.cubism/Plugins/**/*.bundle
!/.gitattributes
!/.editorconfig
!/.gitignore
!/*.md
!/.cursor/**/*
!/.vscode/**/*